.segment-control {
    display: inline-flex;
    justify-content: flex-end;
    border-radius: 8px;
    border: 2px solid var(--ui-theme-primary, #1f8fe6);
    overflow: hidden;
    width: fit-content;
    max-width: 100%;

    &__button {
        position: relative;
        border-radius: 0;

        &:not(:last-child)::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 60%;
            width: 1px;
            background-color: var(--ui-theme-primary, #1f8fe6);
            pointer-events: none;
        }
    }
}
